<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>birdsWorld.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
				<key>dateExpires</key>
				<string>07/04/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38C8165183F3336807A5A54BF8F689C219FFA5A2</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MXX65Q47VK</string>
						<key>name</key>
						<string>Kalifa Male</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MXX65Q47VK.com.paykori.user</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MXX65Q47VK</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>MXX65Q47VK.com.paykori.user</string>
				</array>
			</dict>
			<key>name</key>
			<string>birdsWorld.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0c1f3f53-b1f5-4a12-9bb7-50cd1cde454d</string>
				<key>name</key>
				<string>PaykoriUserAdhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MXX65Q47VK</string>
				<key>name</key>
				<string>Kalifa Male</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
